@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons);


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: mediumpurple;
}

header {
  margin-bottom: 10px;
  background-color: darkblue;
  
}

h1 {
  color: darkorange;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card {
  border: 1px;
  background-color: white;
  padding: 10px 20px;
  color: black;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  min-height: 100px;
  min-width: 300px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
  border-radius: 10px;;
}

.card.reverse {
  background-color: lightblue;
}

.text-name {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.text-feedback {
  margin-top: .5rem;
  font-size: 15px;
}